{% extends 'base.html.twig' %}

{% block title %}Poke{% endblock %}

{% block body %}
    <div class="bg-red-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa dolorem est itaque iusto magni porro repellendus repudiandae suscipit. Accusamus consequatur maiores officia possimus rem sunt veniam voluptate! Asperiores, commodi cumque cupiditate eaque est excepturi impedit ipsa maxime nostrum quam, quibusdam ratione recusandae rem vel vitae. Ab eius tempora voluptate.</div>
{% endblock %}